.hero__banner {
  max-height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70% 70%;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
}

.container {
  &__subheading {
    margin: 1rem;
    text-transform: uppercase;
    color: $color-primary;
  }
}
.feature__products {
  &--image {
    @include featureProductsImage;
    transition: all 0.5s;
    transform: scale(0.9);
    &:hover {
      transform: scaleX(1.1);
    }
  }
}

.feature__container {
  position: relative;
  &--para {
    position: absolute;
    top: 1.6rem;
    left: 1rem;
    background-color: darken($color-tertiary, $amount: 40%);

    color: white;
    border-radius: $box-shadow;
    padding: 0.5rem;
  }
}

.btn:link,
.btn:visited {
  @include buttonCommon;
  transition: all 1s;
  position: relative;
}
.btn:hover {
  transform: translatY(-3px);
  box-shadow: 0 5px 5px $color-secondary;
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.btn-white {
  outline: $color-tertiary;
}
.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 62.5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s;
}
.btn-white::after {
  background-color: $color-white;
}
.btn:hover::after {
  transform: scale(1.5);
  opacity: 0;
}
/*customers review */
.story {
  width: 75%;
  margin: 1.5rem auto;
  box-shadow: 0 1rem 1rem $color-fifth;
  background-color: transparent;
  border-radius: $box-shadow;
  color: black;
  padding: 2rem;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  &__shape {
    width: 10rem;
    height: 10rem;
    float: left;
    shape-outside: circle(50% at 50%);
    clip-path: circle(50% at 50%);
    transform: translateX(-1rem);
    position: relative;
  }
  &__image {
    height: 115%;
    transform: scale(1);
    transition: all 0.2s;
    backface-visibility: hidden;
  }
  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    text-transform: uppercase;
    color: $color-white;
    text-align: center;
    opacity: 0;
    transition: all 0.2s;
  }
  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__image {
    transform: scale(1.5);
    filter: blur(2px) brightness(90%);
  }
}
