/* keyfeatures */
@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  75% {
    transform: translateX(5px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  75% {
    transform: translateX(-5px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/*contact animation message */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from {
    border-color: $color-tertiary;
  }
  50% {
    border-color: transparent;
  }
}
